.formulario-login {
    display: flex;
    justify-content: center;
    padding: var(--padding-centrar);
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 500px;
}
.form__titulo {
    text-align: center;
}
.form__submit {
    width: 100%;
}
